<!DOCTYPE html>
<html lang='en' xnlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset = 'UTF-8'>
	<title>Pacientes da Clinica</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<main>
		<h2> Every Patient </h2>
		
		<table id="table_values">
			<tr>
				<th>Name</th>
				<th>Age</th>
			</tr>
			<tr th:each="p:${lista}">
				<td class="value_name" th:text="${p.nome}"></td>
				<td th:text="${p.idade}"></td>
			</tr>
		</table>
		
		<section>
			<h2> New Patient </h2>
			
			<form action="/pacientes" method="post">
				<input type="text" name="nome" placeholder="Name">
				<input type="number" name="idade" placeholder="Age">
				<button type="submit" onclick="message()">Addicionar</button>
			</form>
		</section>
		<button type="button" onclick="highlight()">Highlight Name Colume</button>
		<button type="button" onclick="hide_show()">Hide/Show Table</button>
	</main>
	<script src="/js/script.js"></script>
</body>
