<!DOCTYPE html>
<html lang='en' xnlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset = 'UTF-8'>
	<title>Pacientes da Clinica</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<table>
		<tr>
			<th>Nome</th>
			<th>Idade</th>
		</tr>
		<tr th:each="p:${lista}">
			<td th:text="${p.nome}"></td>
			<td th:text="${p.idade}"></td>
		</tr>
	</table>
	
	<section>
		<h2> Novo Paciente </h2>
		
		<form action="/pacientes" method="post">
			<input type="text" name="nome" placeholder="Nome do Paciente">
			<input type="number" name="idade" placeholder="Idade do Paciente">
			<button type="submit">Addicionar</button>
		</form>
	</section>
</body>
