<!DOCTYPE html>
<html lang='en' xnlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset = 'UTF-8'>
	<title>Receitas</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<main class="theme_doctor">
		<header>
			<h1>Medical Recites</h1>
			<p>Recite regetry assigned to booked apointments.</p>
		</header>
		<nav class="menu">
			<a href="/home">Front Page</a>
			<a href="/disponibilidades" th:if="${utilizador.perfil == 'PACIENTE' || utilizador.perfil == 'SECRETARIA'}">Availability</a>
			<a href="/consulta" th:if="${utilizador.perfil == 'MEDICO'}">Apointments</a>
			<a href="/receitas" th:if="${utilizador.perfil == 'MEDICO'}">Recites</a>
			<a href="/exames" th:if="${utilizador.perfil == 'MEDICO'}">Exams</a>
			<a href="/pacients" th:if="${utilizador.perfil == 'SECRETARIA'}">Pacients</a>
			<a href="/medicos" th:if="${utilizador.perfil == 'SECRETARIA'}">Doctors</a>
			<a href="/secretarias" th:if="${utilizador.perfil == 'SECRETARIA'}">Secretaries</a>
			<a href="/utilizadors" th:if="${utilizador.perfil == 'SECRETARIA'}">Users</a>
			<a href="/logout">Log Out</a>
		</nav>
		<section class="cartao">
			<h2>Regitered Recites</h2>
			<table>
				<tr>
					<th>Pacient</th>
					<th>Doctor</th>
					<th>Specilty</th>
					<th>Apointment Date</th>
					<th>Time</th>
					<th>Medicine</th>
					<th>Amount</th>
					<th>Instruction</th>
				</tr>
				<tr th:each="r : ${receitas}">
					<th th:text="${r.consulta.paciente.utilizador.nome}"></th>
					<th th:text="${r.consulta.disponibilidade.medico.utilizador.nome}"></th>
					<th th:text="${r.consulta.disponibilidade.medico.especialidade}"></th>
					<th th:text="${#temporals.format(r.consulta.data, 'dd/MM/yyyy')}"></th>
					<th th:text="${r.consulta.horainicio + ' to ' + r.consulta.horafim}"></th>
					<th th:text="${r.medicamento}"></th>
					<th th:text="${r.dosagem}"></th>
					<th th:text="${r.instrucoes}"></th>
				</tr>
			</table>
		</section>
		<section class="cartao">
			<h2>New Medical Recite</h2>
			<p th=if="${error}" th:text="${erro}" class="erro"></p>
			
			<form action="/receitas" method="post" class="formulario">
				<label for="consultaId">Apointment</label>
				<select name="consultaId" id="consultaId" required>
					<option value="">Select an Apointment</option>
					<option th:each="c : ${consultas}" th:text="${c.pacients.utilizador.nome + ' - ' + c.disponibilidade.medico.utilizador.nome} + ' - ' + c.disponibilidade.medico.especialidade + ' - ' + #temporals.format(c.date, 'dd/MM/yyyy') + ' - ' + c.horainicio + ' to ' + c.horafim">Select an Apointment</option>
				</select>
				
				<label for="medicamento">Medicine</label>
				<input type="text" id="medicamento" name="medicamento" placeholder="Medicine Name">
				
				<label for="dosagem">Amount</label>
				<input type="text" id="dosagem" name="dosagem" placeholder="Medicine Amount">
				
				<label for="instrucoes">Instructions</label>
				<input type="text" id="instrucoes" name="instrucoes" placeholder="Instructions related to the Medicine">
				
				<button type="submit">Save Recite</button>
			</form>
		</section>
	</main>
	<script src="/js/script.js"></script>
</body>
